body{
	background:#1a1a1a;
	}
#NavBar{
	margin-bottom:0px;
	position:fixed;
	width:100%;
	border-radius:0px;
	z-index:10;
	}
#title{
	text-align:center;
	margin-top:0px;
	padding-top:80px;
	}
p.paragraf{
	max-width:100%;
	font-weight:580;
	font-size:17px;
	word-spacing:3px;
	line-height:25px;
	text-indent:2em;
	text-align:justify;
	}
p.paragraf:first-letter {
	font-size:200%;
	}
.carousel-control.left{
	background-image: none;
	background-image: none;
	background-image: none;
	filter:none;
	background-repeat: none;
	}
.carousel-control.right{
	background-image: none;
	background-image: none;
	background-image: none;
	filter:none;
	background-repeat: none;
	}
#main{
	background-color:#00ff00;
	margin-top:1%;
	text-align:justify;
	border-radius:4px;
	}
a:hover, a:visited, a:active, a:link{
	text-decoration:none;
	}

/***************************************************************/
/*Definição das características das divs que serão os jogadores*/
/***************************************************************/
#team_member{	
	border-radius:100%;
	transition: 0.5s;
	}

#team_member:hover{
  border-radius:10%;
	}
/***********************************/
/*Definição para a legenda das ftos*/
/***********************************/
.legenda{
  	width: 100%;
  	height: 100%;
	font-family:Georgia, "Times New Roman", Times, serif;
	font-size:14px;
	color:#666;
	}

/***********************************/
/***********************************/
/***********************************/

.panel{
	padding-right:15px;
	padding-left:15px;
	margin-right:auto;
	margin-left:auto;
	}

@media (max-width:768px){
	.MyIframe{
		max-width:100%;
		height:215px;
		}
	.panel{
		width:750px;
		}
	#myImgCarousel{
		border-radius:5px;
		max-height:200px;
		width:200px;
		}
	#myCarousel{
		height:200px;
		width:200px;
		}
	#myCarousel2{
		height:250px;
		width:250px;
		}
	#myCarousel3{
		height:200px;
		width:200px;
		}
	}
@media (max-width:992px){
	.MyIframe{
		width:600px;
		height:315px;
		}
	.panel{
		width:970px;
		}
	#myImgCarousel{
		border-radius:5px;
		height:400px;
		width:400px;
		}
	#myCarousel{
		max-height:500px;
		max-width:500px;
		}	
	#myCarousel2{
		max-height:600px;
		max-width:600px;
		}
	#myCarousel3{
		max-height:500px;
		max-width:500px;
		}	
	}
	
@media (min-width:992px) and (max-width:1900px){
	.MyIframe{
		width:860px;
		height:615px;
		}
	.panel{width:1170px}
	#myImgCarousel{
		border-radius:5px;
		height:400px;
		width:400px;
		}
	#myCarousel{
		max-height:500px;
		max-width:500px;
		}	
	#myCarousel2{
		max-height:600px;
		max-width:600px;
		}
	#myCarousel3{
		max-height:500px;
		max-width:500px;
		}	
	}